*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 1. Fondo general del body */
body {
    background-color: #6a0dad; /* Morado */
    font-family: Arial, sans-serif;
}

/* 2. Barra superior */
.top-bar {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}
