body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #3c8527;
    color: white;
    transition: 0.5s;
}

body.creeper {
    background: #0f1f0f;
    color: #00ff00;
}

/* Fondo general */
body {
    background-color: #6a0dad;
    font-family: Arial, sans-serif;
}

/* Barra superior (mas pequeña) */
.top-bar {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

/* Boton de regreso */
.boton-regreso {
    position: absolute;
    left: 20px;
    top: 10px;
    background: #2e7d32;
    border: 2px solid black;
    color: white;
    padding: 5px 12px;
    font-weight: bold;
    cursor: pointer;
}

.boton-regreso:hover {
    background: #1b5e20;
}

/* Botones */
button {
    background: #4CAF50;
    border: 3px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    animation: shake 0.3s infinite;
}

/* Contenedor */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

/* Cards */
.card {
    background: #5c913b;
    border: 4px solid black;
    width: 250px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border: 3px solid black;
    margin-bottom: 10px;
}

.card:hover {
    transform: scale(1.1);
}

@keyframes shake {
    0% { transform: translateX(0px); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0px); }
}