body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background: #3c8527;
    color: white;
    transition: 0.5s;
}

body.creeper {
    background: #0f1f0f;
    color: #00ff00;
}

/* Fondo general */
body {
    background-color: #6a0dad;
    font-family: Arial, sans-serif;
}

/* Barra superior */
.top-bar {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.boton-regreso{
    position: absolute;
    left: 20px;
    top: 8px;
    background: linear-gradient(145deg, #4CAF50, #2e7d32);
    color: white;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

/* efecto hover */
.boton-regreso:hover{
    background: linear-gradient(145deg, #66bb6a, #388e3c);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

/* efecto al hacer click */
.boton-regreso:active{
    transform: scale(0.95);
}

/* Botones */
button {
    background: #4CAF50;
    border: 3px solid black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    animation: shake 0.3s infinite;
}

/* Contenedor */
.contenedor {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

/* Cards */
.card {
    background: #5c913b;
    border: 3px solid #000;
    border-radius: 10px;
    width: 260px;
    padding: 1.2rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* Imagen card */
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid black;
    margin-bottom: 12px;
}

/* Titulos */
.card h2 {
    margin: 10px 0;
}

/* Texto */
.card p {
    font-size: 14px;
    line-height: 1.4;
}

/* Hover */
.card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 20px rgba(0,0,0,0.5);
}

/* Animacion botones */
@keyframes shake {
    0% { transform: translateX(0px); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0px); }
}